.row
  .col-md-5.text-center
    %p
    = image_tag(user_gravatar(current_user[:email], 150))
  .col-md-7
    %dl.dl-horizontal.user-profile
      %dt Firstname:
      %dd
        %strong= h(current_user[:firstname])
      %dt Lastname:
      %dd
        %strong= h(current_user[:lastname])
      %dt Email:
      %dd
        %strong= h(current_user[:email])
      %dt Registered:
      %dd= current_user[:created_at].to_formatted_s(:long)
    %p
      = link_to 'Edit', edit_user_registration_path, class: 'btn btn-md btn-success pull-left'
      = button_to 'Delete', user_path, method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-md btn-danger pull-right'
.row
  %hr/
  %h4.text-center Products you have added
  .row
  =render partial: 'product', collection: current_user.products