.row
  .col-md-2.nav-button= link_to 'Back', categories_path, class: 'btn btn-primary pull-left'
  .col-md-8
    %h1.text-center Category: #{category.name}
  .col-md-2.nav-button= link_to 'Edit', edit_category_path(category), class: 'btn btn-primary pull-right'

%p.bg-info.text-center
  Active products:
  = category.products.collect{ |product| product.title }.join(', ')

%br/
%p
  %h3.text-center Add new product
  = render 'products/form'
