- if user_signed_in? && current_user.admin?
  - nextBtn = { title: 'Edit', path: edit_category_path(category) }
- else
  - nextBtn = nil

= render 'shared/navMenu', title: category.name, backUrl: categories_path, nextBtn: nextBtn

- unless notice.nil?
  .alert.alert-success.alert-big.text-center= notice

- if category.products.empty?
  .alert.alert-info.alert-big.text-center There are no any products yet.
- else
  %h4.text-center Active products:
  .col-md-6.col-md-offset-3
    %table.table.table-striped.table-hover
      %tbody
        - category.products.each do |product|
          %tr
            %td= link_to product.title, category_product_path(category.id, product.id)
            %td.text-right= number_to_currency(product.price)

- if user_signed_in?
  %h3.col-md-12.text-center New product
  = render 'products/form'
