= simple_form_for [category, product], html: { multipart: true } do |f|
  - if product.errors.any?
    #error_explanation
      %h2= "#{ pluralize(product.errors.count, "error") } prohibited this product from being saved:"
      %ul
        - product.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.input :title, required: true, autofocus: true, class: 'form-control'
  .form-group
    = f.input :description, required: true, class: 'form-control'
  .form-group
    = f.input :price, required: true, class: 'form-control'
  .form-group
    = f.input :preview
  = f.submit 'Save', class: 'btn btn-primary'
