- if user_signed_in? && product_belongs_to_current_user?(product)
  - nextBtn = { title: 'Edit', path: edit_category_product_path(category, product) }
-else
  - nextBtn = nil

= render 'shared/navMenu', title: product.title, backUrl: category_path(category), nextBtn: nextBtn

- if notice
  .alert.alert-success.alert-big.text-center= notice

- if flash[:error]
  .alert.alert-danger.alert-big.text-center= flash[:error]


%table.table
  %thead
    %tr
      %th.text-center Category
      %th.text-center Description
      %th.text-center Price
  %tbody
    %tr.text-center
      %td= link_to product.category.name, category_path(category)
      %td.text-left= product.description
      %td
        %span.product-price
          = number_to_currency(product.price)

.product-reviews-block
  - if user_signed_in?
    - unless product_has_reviews?(product)
      %p.text-info.alert-big.text-center There are no reviews. Be the first reviewer !
    %h3.text-center Add review
    = render 'reviews/form'

  - if product_has_reviews?(product)
    .col-md-12.reviews-list.text-center
      %h3.text-center Reviews
      = render reviews

  - if user_signed_in? && product_belongs_to_current_user?(product)
    .col-md-12
      %hr/
      .text-center
        = button_to 'Delete', category_product_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-delete-product'
