= render 'shared/navMenu', title: product.title, backUrl: category_path(category), nextBtn: { title: 'Edit', path: edit_category_product_path(category, product) }

- unless notice.nil?
  .alert.alert-success= notice
- unless flash[:error].nil?
  .alert.alert-danger= flash[:error] 

%dl.dl-horizontal.product-info
  %dt Category:
  %dd= product.category.name

  %dt Description:
  %dd= product.description

  %dt Price:
  %dd= number_to_currency(product.price)

%h3.text-center.form-bottom Reviews
= render 'reviews/form'

= render reviews
