= render 'shared/navMenu', title: product.title, backUrl: category_path(category), nextBtn: { title: 'Edit', path: edit_category_product_path(category, product) }

- unless notice.nil?
  .alert.alert-success.alert-big.text-center= notice

- unless flash[:error].nil?
  .alert.alert-danger= flash[:error]

%dl.dl-horizontal.product-info
  %dt Category:
  %dd= product.category.name

  %dt Description:
  %dd= product.description

  %dt Price:
  %dd= number_to_currency(product.price)
  
- if user_signed_in?
  %h3.text-center Add review
  = render 'reviews/form'

- if product.reviews.any?
  .col-md-12.reviews-list.text-center
    %h3.text-center Reviews
    = render reviews
