- if user_signed_in? && product_belongs_to_current_user?(product)
  - nextBtn = { title: 'Edit', path: edit_category_product_path(category, product) }
-else
  - nextBtn = nil

= render 'shared/navMenu', title: product.title, backUrl: category_path(category), nextBtn: nextBtn

- if notice
  .alert.alert-success.alert-big.text-center= notice

- if flash[:error]
  .alert.alert-danger.alert-big.text-center= flash[:error]

%dl.dl-horizontal.product-info
  %dt Category:
  %dd= product.category.name
  
  %dt Description:
  %dd= product.description

  %dt Price:
  %dd= number_to_currency(product.price)

- if user_signed_in?
  %h3.text-center Add review
  = render 'reviews/form'

- if product.reviews.any?
  .col-md-12.reviews-list.text-center
    %h3.text-center Reviews
    = render reviews

- if user_signed_in? && product_belongs_to_current_user?(product)
  .col-md-12
    %hr/
    .text-center
      = button_to 'Delete', category_product_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-delete-product'
