!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand= link_to AppConfig.workshops_name, '/'

        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = image_tag user_gravatar(current_user.email, 40)
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  = link_to 'Profile', current_user
                %li.divider
                %li
                  = link_to 'Logout', destroy_user_session_path, method: :delete
          %ul.nav.navbar-nav.navbar-right.navbar-user
            %li.nav-user-name
              %span
                Hi, #{ current_user.firstname }
        - else
          %p.navbar-text.navbar-right
            %span
              Hi, Stanger. Please,
              = link_to 'Login', new_user_session_path
              \/
              = link_to 'Signup', new_user_registration_path

    .container-fluid
      .row
        .col-md-8.col-md-offset-2
          = yield
    %footer.footer
      .container
        %p.text-muted.text-center Made by #{ link_to 'Max Borisov', 'https://github.com/max-borisov/NetguruWorkshop' } for Netguru workshop